body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: 400;
}

a:hover {
  color: #A82C48 !important;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: #43121d;
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-family: var(--secondry-font);
  color: #43121d;
  line-height: 3rem;

}

h4 {
  color: #43121d;
  font-family: var(--secondry-font);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

h5 {
  color: #A82C48;
  text-transform: capitalize;
  font-family: var(--secondry-font);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: #555;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}

.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  line-height: 1.5625rem;
  background-color: #A82C48;
  border: 0.1875rem solid #A82C48;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 600;
  transition: all 0.5s ease-out 0s;
}

.white-btn {
  padding: 0.625rem 1.875rem;
  line-height: 25px;
  background-color:#fff;
  border: 0.1875rem solid#fff;
  color: #555;
  font-size: 0.9375rem;
  font-weight: 600;
  transition: all .4s ease-out 0s;
}

.main-btn:hover {
  background-color: transparent;
  color:#A82C48;
}

.white-btn:hover {
  background-color: transparent;
  color:#A82C48;
  border-color:#A82C48;
}

.wrapper {
  padding-top: 8.25rem;
  padding-bottom: 8.25rem;
}

.text-content {
  width: 70%;
  margin: auto;
}

.counter-section h2,
.testimonial-section h2,
.book-food-text h2 {
  color:#fff;
}

::-webkit-scrollbar {
  width: 0.625rem;
} 

::-webkit-scrollbar-thumb {
  background:#A82C48; 
} 

.navigation-wrap{
  position:fixed;
  width:100%;
  left:0;
  z-index:1000;
  transition:all 0.3s ease-out;
} 
.navigation-wrap .nav-item{
  padding:0 0.625rem;
  transition:all 200ms linear;
}
.navbar-toggler:focus{
  outline:unset;
  border:unset;
  box-shadow: none;
}
.nav-link{
  font-size:0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color:#43121d;
  letter-spacing: 1px;
}
.navigation-wrap .main-btn{
  padding:0.3125rem 1.4375rem;
  box-shadow: none;
  margin-left:0.625rem;
} 

.navigation-wrap.scroll-on{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background : #fff;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0.09);
  transition:all .15s ease-in-out 0s;
}

.top-banner{
  width:100%;
  background: url('../images/bg/bg-1.jpg') no-repeat center;
  background-size:cover;
  padding:16.875rem 0 9.375rem;
}

.counter-section{
  background-color:#A82C48;
  padding:2.5rem 0;
}
.counter-section p{
  color: #fff;
  text-transform: uppercase;
}

.about-section{
  background:#fff;
}
.about-section .card,
.about-section .card img{
  border-radius: 0.625rem;
}
.about-section .text-sec{
  padding-left:2rem;
}

 .food-type{
   padding-top:3.25rem;
 }
.food-type ul li{
  font-size:1rem;
  color:#555;
  line-height: 32px;
  position:relative;
  margin-left: 30px;
}
.food-type ul li::before{
  position:absolute;
  left:-2.1875rem;
  color : #A82C48;
  font-size: 1.25rem;
  font-family: "Font Awesome 5 Free";
  content:'\f00c';
  display:inline-block;
  padding-right:3px;
  vertical-align:middle;
  font-weight: 900;
}
.story-section{
  width:100%;
  height:28.125rem;
  background: url('../images/bg/bg-2.jpg') no-repeat center;
  background-size: cover;
  padding-top:100px;
  text-align: center;
} 
.story-section h2{
  color : #A82C48;
}
.explore-food .card{
  border:none;
  background-color: transparent;
  border-radius: 0.9375rem;
}
.explore-food .card img{
  border-radius: 0.9375rem;
  object-fit: cover;
}
.explore-food .card span{
  display:block;
  font-size: 1.5rem;
  font-weight: 700;
  color : #A82C48;
  padding-bottom:1rem;
  border-bottom:0.0625rem solid #eee;
}
.explore-food .card span del{
  color:#999;
  margin-left:0.5rem;
}
.testimonial-section{
  background-color:#A82C48;
}
.testimonial-section .carousel-item{
  margin-top:3rem;
  padding:10rem 3.125rem;
  background-color : #fff;
  border-radius: 0.9375rem;
  text-align: center;
} 
.testimonial-section .carousel-caption img{
  max-width:5rem;
  border-radius: 50%;
  padding:0.3125rem;
}

.testimonial-section .carousel-item .carousel-caption p{
  font-size: 1.3125rem;
  line-height: 2.0625rem;
  padding:0 11% 0.625rem;
}
.testimonial-section .carousel-indicators{
  bottom:-2.8125rem;
}
.testimonial-section .carousel-indicators button{
  width:15px;
  height:15px;
  outline:none;
  border-radius: 50%;
  border:none;
  margin-right:1rem;
  opacity:0.2;
}
.testimonial-section .carousel-indicators button.active{
  opacity:1;
}
.faq h4 span{
  color: #A82C48;
  font-size: 1.875rem;
  margin-right:0.3125rem;
} 
.book-food{
  width:100%;
  background:url('../images/bg/bg-3.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position:0 71.9125px;
  padding:4.375rem 0
}

.newsletter{
  width:55%;
  margin:0 auto;
}
.newsletter .form-control{
  height:3.225rem;
  padding:0 1.25rem;
  font-size: 0.875rem; 
  width:100%;
  border:none;
  border-radius: 0;
  background:transparent;
  border:0.1875rem solid #999;
  color:#000;
  font-weight: 700;
}
.newsletter .form-control:hover,
.newsletter .form-control:focus{
  outline:none;
  box-shadow: none;
  border-color : #A82C48;
}
.footer{
  background:#A82C48;
}
.footer .footer-link{
  font-size:1rem;
  color: #fff;
  padding:0 1.875rem;
}
.footer .footer-link:hover{
  color : #fff !important;
}
.footer a i{
  font-size: 1.5rem;
  color : #fff;
  padding:0 1rem;
}
   
      